<h1 class='container'>Menu Items</h1>
 </div>
<body>
</div>

<table class="collection">
  <thead>
    <tr>
      <th data-field="name">Item Name</th>
      <th data-field="price"> Price</th>
      <th data-field="image">Image</th>
      <th data-field="description">Description</th>
      <th data-field="category">Category</th>

    </tr>
  </thead>

<%@items.each do |item| %>
  <tbody>
    <tr>
      <div id="item<%="#{item.id}"%>">
        <td><%= item.title %></td>
        <td><%= number_to_currency(item.price)%></td>
        <td><%= image_tag(item.image, class: "avatar circle",height:"32",width:"32")%></td>
        <td><%= item.description %></td>
        <td><%= item.category.name%> </td>
        <td><%=button_to admin_edit_item_path(item.slug), method: :get, class: "waves-effect waves-light btn orange small" do %> Edit Item</td>
        <%end %>
      </div>
    </tr>
  </tbody>
<% end %>
