<h1>Create an Item</h1>

<%= form_for @items, url: admin_items_path do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :price %>
<%= f.text_field :price %>

<%= f.label :image, 'Image URL'%>
<%= f.text_field :image %>

<%= f.label :category_id, 'Category ID' %>
<%= f.collection_select :category_id, Category.all, :id, :name,{}, class: "browser-default" %>
<br>

<button class="btn waves-effect waves-light orange small" type="submit" name="action">Create Item </button>


<% end %>
